.dashboardcloud-dashboardbutton-cloud, .dashboardcloud-dashboardbutton-cloud:hover{
    cursor: default;
    color: White;
    background: rgba(0, 0, 255, 0.651);  
}

.view-button{
    width: 90px;
    border-radius: 10px;
}

.modal-whole{
    text-align: center;
    margin-top: 15%;
}

.Modal-Header{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}